.editor-cls {
    width       : 100%;
    height      : 200px;
    font-size   : 14px;
    line-height : 18px;
    border      : 1px solid #dddddd;
    padding     : 10px;
}
.pd-15 {
    padding : 0 15px;
}
/*summer note */
.note-editor.fullscreen {
    margin  : 0;
    z-index : 10009 !important;
    margin-top: 51px;
}
.note-editor .dropdown-menu {
    z-index : 40;
}
.tooltip {
    z-index : 40;
}
.note-editable {
    height : 300px;
    width  : 100%;
}
[data-original-title="Font Family"] {
    width : 150px;
}
.well {
    margin-bottom : 0;
}
.card-default > .card-header {
    border-color     : #a9b6bc;
    background-color : #EBEBEB;
}
.flip_editing {
    margin           : 0;
}
.trumbowyg-box.trumbowyg-fullscreen {
    margin-top: 51px;
}
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover {
    background : #e6e6e6;
}
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
    background : #01bc8c;
}
.trumbowyg-modal-submit:hover {
    background-color : #01BC8C !important;
}
.trumbowyg-box {
    background-color : #fff;
}
.note-editor ul, .trumbowyg-box ul {
    list-style-type : disc;
}
.modal .text-muted {
    color : #333;
}
.note-popover{
    display: none;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.panel-default > .panel-heading{
    border-color: #a9b6bc;
background-color: #EBEBEB;
    border-bottom: 1px solid #a9b6bc;
}
.note-btn-group.btn-group.note-list{
    padding: 0px 7px 0px 6px;
}
/*whysihtml*/
a[data-wysihtml5-command="insertImage"],
.wysihtml5-toolbar > li:nth-child(5), .bootstrap-wysihtml5-insert-link-modal {
    visibility: hidden;
}
.btn-group, .btn-group-vertical{
    display: inline-block !important;
}
.dropdown-menu{
    transform: translate3d(-62px,1px,0) !important;
}
/*summer note color picker dropdown rensponsive*/

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position : relative;
    margin   : 4px 5px;
}
@media screen and (max-width : 700px) {
    .card-header.note-toolbar .note-color .dropdown-menu {
        min-width : 180px;
        left      : -123px;
    }
}
@media screen and (max-width : 567px) {
    .note-editor.fullscreen, .trumbowyg-box.trumbowyg-fullscreen {
        margin-top: 99px;
    }
}
@media screen and (max-width : 451px) {
    .card-header.note-toolbar .note-color .dropdown-menu {
        left : -40px;
    }
}
@media screen and (max-width : 387px) {
    .card-header.note-toolbar .note-color .dropdown-menu {
        left : -65px;
    }
}
.card-header.note-toolbar .note-para .dropdown-menu {
    min-width : 152px;
}
@media screen and (max-width : 320px) {
    .trumbowyg-dropdown {
        left : 50px !important;
    }

}
.bootstrap-admin-card-content{
    width:100%;
}